.upperHalf{
    display: flex;
    flex-direction: column;
    font-family: 'poppins', sans-serif;
    align-items: flex-start;   
}

.hero-image{
    max-width: 750px;
    padding-top: 30px;
    align-self: center;
}

.hero-header{
    padding-left: 30px;
    font-size: 40px;
    margin: 0;
}

.hero-text{
    padding-left: 30px;
    font-size: 20px;
    text-align: left;
}